@charset "UTF-8";


.box {
    background-image:linear-gradient(to right, rgb(0, 255, 255),
    rgb(56, 240, 132));
    width: 200px;
    height: 200px;
    transition-property: background-image;
    transition-duration: 1s, 3s;
    transition-timing-function: ease-in-out;

    

}
.box:hover {
    transition: 5s, 3s;
    height: 400px;
    width: 400px;
    background-color:rgb(255, 0, 0);
    border-radius: 50px;
    transition:'fade-in-out'
}