@charset "UTF-8";

div {
    overflow: hidden;
    position: relative;
    &::after {
        background-color: rgb(255, 255, 255);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation-name: cobrir;
        animation-duration: 3s;
        animation-iteration-count: forwards; 
    }
}
p {
    animation-name: letras;
    animation-duration: 1s;
    animation-delay: 1s;
    font-size: 40px;
    opacity: 0;
    text-align: center;
}


@keyframes cobrir {
    0% {
        transform: translatex(-101%);
    }
    100% {
        transform: translatex(101%);
    }
}

@keyframes letras {
    to {
        opacity: 1;
    }
}